# OpenAI API key for downstream LLM 
OPENAI_API_KEY=

# GitHub personal access token for fetching docs
GITHUB_TOKEN=

# Google credentials for uploading
GOOGLE_APPLICATION_CREDENTIALS=
GCP_BUCKET_NAME=

# Root path for cleaned docs and chunks
DST_PATH=

# Embedding model (Hugging Face name）example：BAAI/bge-small-en-v1.5
MODEL_NAME=

# Local output path to save the embedding model
MODEL_PATH=

# PostgreSQL credentials (requires pgvector extension)
PG_DB=
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=


