numpy
flask
gunicorn
beautifulsoup4
scikit-learn
openai
python-dotenv
requests
tqdm
langchain
langchain-text-splitters
langchain-community
transformers
google-cloud-storage
psycopg2-binary
pgvector
langchain-huggingface